# stuff "git status" should ignore

# build output
.libs
.deps
.dirstamp
*.o
*.o.??????
*.a
*.lo
*.la

# configure/autotools output
autom4te.cache
config.h
config.h.in~
config.log
config.status
configure.gnu
Doxyfile
libjaylink.pc
libtool
openocd/Makefile
openocd/src/jtag/drivers/libjaylink/Makefile
openocd/src/jtag/drivers/libjaylink/libjaylink/Makefile
openocd/src/jtag/drivers/libjaylink/libjaylink/version.h
stamp-h1

# additional make output
openocd/src/jtag/minidriver_imp.h
openocd/src/openocd
openocd/src/startup_tcl.inc
